@font-face {
  font-family: paranoia-reg;
  src: url(/fonts/Paranoia-Regular.ttf);
}
@font-face {
  font-family: paranoia-b;
  src: url(/fonts/paranoida-g.ttf);
}
@font-face {
  font-family: spiderfingers;
  src: url(/fonts/Spiderfingers.ttf);
}
@font-face {
  font-family: spirits;
  src: url(/fonts/Unquiet\ Spirits.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary: #000;
  --secondary: rgb(113, 179, 48);
  --secondary-mute: rgba(113, 179, 48, 0.65);
  --rosy: rgb(224, 183, 183);
  --mute: rgb(132, 132, 132);
  --blury: rgba(229, 239, 228, 0.124);
  --blury-2: rgba(238, 242, 238, 0.948);
  --font-1: paranoia-b;
  --font-2: "Open Sans", sans-serif;
  --font-3: paranoia-reg;
  --font-4: spirits;
  --font-5: spiderfingers;
}

html,
body {
  width: 100%;
  background-color: var(--blury);
  cursor: url(/assets/logo/rose-xs.png), url(/assets/logo/heart-xs.png), pointer;
}

main {
border: 2px solid transparent;
  width: 90%;
  margin-top: 5rem;
  padding: 0 1rem;
  font-family: var(--font-2);
}
main h3 {
  font-size: 3rem;
  margin-bottom: 4.2rem;
}

main p {
  font-size: 2.7rem;
  margin-bottom: 4rem;
}

main p a {
  font-size: 2.7rem;
  color: var(--secondary);
}

main p:last-child {
  margin-bottom: 15rem;
}

.blur {
    background-color: var(--blury);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
}