@font-face {
  font-family: paranoia-reg;
  src: url(/fonts/Paranoia-Regular.ttf);
}
@font-face {
  font-family: paranoia-b;
  src: url(/fonts/paranoida-g.ttf);
}
@font-face {
  font-family: spiderfingers;
  src: url(/fonts/Spiderfingers.ttf);
}
@font-face {
  font-family: spirits;
  src: url(/fonts/Unquiet\ Spirits.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary: #000;
  --secondary: rgb(113, 179, 48);
  --secondary-mute: rgba(113, 179, 48, 0.65);
  --rosy: rgb(224, 183, 183);
  --mute: rgb(132, 132, 132);
  --blury: rgba(229, 239, 228, 0.124);
  --blury-2: rgba(238, 242, 238, 0.948);
  --font-1: paranoia-b;
  --font-2: "Open Sans", sans-serif;
  --font-3: paranoia-reg;
  --font-4: spirits;
  --font-5: spiderfingers;
}

html,
body {
  width: 100%;
  background-color: var(--blury);
  cursor: url(/assets/logo/rose-xs.png), url(/assets/logo/heart-xs.png), pointer;
}

header {
  height:75px;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 1rem 1rem;
  background-color: var(--blury);
  backdrop-filter: blur(10px);
  /* border: 1px solid red; */
}

h1 {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-1);
  font-size: 3.6rem;
  color: var(--secondary);
}

h1 span a {
  text-decoration: none;
  color: var(--secondary);
}

h1 span a:hover {
  color: var(--secondary);
  text-shadow: 0 0 30px var(--secondary);
}
.container {
  margin-top: 55px;
  background-color: var(--blury);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 27px 1fr;
  grid-template-areas: "con1 con1" "con2 con2";
}

.con1 {
  grid-area: con1;
  background-color: var(--blury-2);
  font-family: var(--font-2);
  padding: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
}

.con2 {
  background-color: var(--blury);
  grid-area: con2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  /* row-gap: 0.4rem; */
}

.con2 p {
  font-family: var(--font-2);
  text-transform: uppercase;
  padding: 0.5rem;
  background-color: #fff;
  width: 100%;
  color: var(--primary);
  text-align: center;
}
.con2 > .img-1 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_01_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: flex-end;
}

.con2 > .img-2 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_02_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: flex-end;
}

.con2 > .img-3 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_03_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 2 / 1 / 3 / 2;
}
.con2 > .img-4 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_04_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 2 / 2 / 3 / 3;
}

.con2 > .img-5 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_05_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 3 / 1 / 4 / 2;
}
.con2 > .img-6 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_06_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 3 / 2 / 4 / 3;
}

.con2 > .img-7 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_07_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 4 / 1 / 5 / 2;
}
.con2 > .img-8 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_08_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 4 / 2 / 5 / 3;
}
.con2 > .img-9 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_09_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 5/ 1 / 6 / 2;
}
.con2 > .img-10 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_10_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 5 / 2 / 6 / 3;
}

.con2 > .img-11 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_11_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 6 / 1 / 7 / 2;
}
.con2 > .img-12 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_12_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 6 / 2 / 7 / 3;
}

.con2 > .img-13 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_13_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 7 / 1 / 8 / 2;
}
.con2 > .img-14 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_14_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 7 / 2 / 8 / 3;
}

.con2 > .img-15 {
  background-image: url(/assets/images/carousel_archive/images_archive/archiv_15_carousel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 8 / 1 / 9 / 2;
}
.con2 > .img-16 {
  background-image: url(/assets/images/archiv/IMG_51702.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 8 / 2 / 9 / 3;
}
.con2 > .img-17 {
  font-family: var(--font-3);
  font-size: 5rem;
  grid-area: 9 / 1 / 10 / 2;
}
.con2 > .img-18 {
  background-image: url(/assets/images/archiv/dirty-money-bag/IMG_2263.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  grid-area: 9 / 2 / 10 / 3;
}

.con2 > .img-19 {
  background-image: url(/assets/images/archiv/dirty-money-bag/IMG_2221.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 10 / 1 / 11 / 2;
}
.con2 > .img-20 {
  background-image: url(/assets/images/archiv/IMG_51702.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: 10 / 2 / 11 / 3;
}

.blur {
  background-color: var(--blury);
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
}



.footer-s {
  /* border: 1px solid red; */
  font-family: var(--font-2);
  background-color: var(--blury);
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
}

.footer-s .menu-s {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0;
}

.footer-s .menu-s li a {
  text-decoration: none;
  color: var(--secondary);
}

.menu-btn {
  width: 30%;
  list-style: none;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 6px;
  padding: 0.2rem 1rem;
  text-align: center;
  font-size: 1.4rem;
}
.menu-btn:hover {
  border: none;
  color: var(--secondary);
  text-shadow: 0 0 10px var(--secondary-mute);
  font-weight: 700;
}

.hover-item .sidebar {
  text-align: left;
}

.hover-item:hover .sidebar {
  transition: opacity 0.4s linear;
  opacity: 1;
  /* transform: translateY(-585px); */
  transform: translateY(-575px);
}
.sidebar {
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  background-color: var(--blury);
  width: 100%;
  height: 548px;
  opacity: 0;
}

.bg-blur {
  /* border: 1px solid red; */
  background-color: var(--blury);
  backdrop-filter: blur(10px);

  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

.sidebar-links {
  text-decoration: none;
  color: var(--primary);
  font-size: 4rem;
  font-weight: 300;
  font-family: var(--font-2);
  text-shadow: 0 0 20px var(--blury);
  padding-left: 1rem;
  
}
.sidebar-links:hover {
  color: var(--secondary);
  font-family: var(--font-1);
}
.menu-l {
  display: none;
}